/* video background */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.3;
}

/* entire modal section in it's original state, not displayed */
.mod {
    position: fixed !important; 
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black !important;
    border-radius: 10px !important;
    z-index: 4 !important;
    background-color: lightgrey !important;
    width: 400px !important;
    max-width: 60% !important;
}

/* modal header */
.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

/* close button (X) in modal */
.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2rem;
    font-weight: bold;
}

#bernie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* Original state of overlay, not displayed */
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

/* Modal displayed */
.mod.open {
    transform: translate(-50%, -50%) scale(1);
}

/* Displayed overlay of modal */
#overlay.open {
    opacity: 1;
    pointer-events: all;
}

.cursive {
    font-family: 'Pinyon Script', cursive;
}

/* Header font size */
@media only screen and (min-width: 768px) {
    .front-page {
        font-size: 180px;
    }
}

/* Inline form */
.input-field{
    display: flex;
}

/* Customizing form input to match page style */
textarea.materialize-textarea:focus:not([readonly])+label {
    color:black !important;
}

textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: .5px black !important;
    box-shadow: 0 1px 0 0  black !important;
}

textarea.materialize-textarea {
    border-bottom: 1px solid grey !important;
}

/* list color */
.collection-header {
    background-color: transparent !important;
    opacity: 1 !important;
}
/* made items transparent as well */
.collection-item {
    background-color: transparent !important;
    opacity: 1 !important;
}

.collection-item.active {
    background-color:rgb(0, 0, 0, .5) !important;
}
